<div class="footerquizz navbar navbar-expand-lg navbar-light bg-oquizzblue mt-5"></div>
<footer class="footerquizz text-center py-3 bg-oquizz">
{# <hr class="dropdown-divider"> #}
	<div class="container text-center text-md-left">
	<!-- Grid row -->
		<div class="row">
		<!-- Grid column -->
			<div class="col-md-3 mx-auto mt-2">
			<!-- Links -->
				<ul class="list-unstyled">
					<li>
						<a class="text-decoration-none fw-bold text-white" aria-current="page" href="{{ path('home') }}"><i class="fas fa-home"></i> Accueil<span class="sr-only"></span></a>
					</li>
					<br />
					<li>
						<a class="text-decoration-none fw-bold text-white" aria-current="page" href="{{ path('contact') }}"><i class="fas fa-file-signature"></i> Contact<span class="sr-only"></span></a>
					</li>
					
				</ul>
			</div>
			<!-- Grid column -->
			<hr class="clearfix w-100 d-md-none">
			<!-- Grid column -->
			<div class="col-md-3 mx-auto mt-2">
			<!-- Links -->
				<ul class="list-unstyled">
					
					<li>
						<a class="text-decoration-none fw-bold text-white" aria-current="page" href="{{ path('quizz_list') }}"><i class="fas fa-list"></i> Liste des quizz<span class="sr-only"></span></a>
					</li>
					<br />
					<li>
						<a class="text-decoration-none fw-bold text-white" aria-current="page" href="{{ path('theme_list') }}"><i class="fas fa-th-list"></i> Liste des themes<span class="sr-only"></span></a>
					</li>
				</ul>
			</div>
			<!-- Grid column -->
			<hr class="clearfix w-100 d-md-none">
			<!-- Grid column -->
			<div class="col-md-3 mx-auto mt-2">
			<!-- inks -->        
				<ul class="list-unstyled">
					<li>
						<a class="text-decoration-none fw-bold text-white" aria-current="page" href="{{ path('notice') }}"><i class="fas fa-balance-scale-right"></i> Mentions légales<span class="sr-only"></span></a>
					</li>
					<br />
					<li>
						<a class="text-decoration-none fw-bold text-white" aria-current="page" href="{{ path('team') }}">Qui sommes nous <i class="far fa-question-circle"></i><span class="sr-only"></span></a>
					</li>
				</ul>
			</div>
			<!-- Grid column -->
			<hr class="clearfix w-100 d-md-none">
			<!-- Grid column -->
			<div class="col-md-3 mx-auto mt-2">
			<!-- Links -->
				<ul class="list-unstyled">
					{% if not is_granted('ROLE_USER') %}
						<li>
							<a class="text-decoration-none fw-bold text-white" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> Connexion</a>
						</li>
						<li>
							<a class="text-decoration-none fw-bold text-white" href="#!"></a>
						</li>
						
						<li>
							<a class="text-decoration-none fw-bold text-white" href="{{ path('app_register') }}"><i class="fas fa-user-plus"></i> inscription</a>
						</li>
					{% else %}
						<li>
							<a class="text-decoration-none fw-bold text-white" href="{{ path('user_profil', {'id': app.user.id}) }}" type="button"><i class="fas fa-user"></i> Profil</a>
						</li>
						<br />
						<li>
							<a class="text-decoration-none fw-bold text-white" href="{{ path('app_logout') }}" type="button">Déconnexion <i class="fas fa-sign-out-alt"></i></a>
						</li>
					{% endif %}
				</ul>
			
			</div>
			<!-- Grid column -->
			
		</div>
		<!-- Grid row -->
	</div>
	<div class="container footer text-center">
		<span class="text-muted mt-1"><script type="text/javascript"> document.write(new Date().getFullYear());</script> &copy; O'quizz. Tous droits réservés</p></span>
	</div>
	<div id="scrollUp">
        <a href="#top"><img src="{{ asset('img/to_top.png')}}"/></a>
    </div>
	
</footer>