{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('css/oquizzabout.css')}}">
{% endblock %}
{% block title %}Qui sommes nous{% endblock %}

{% block body %}

<h1> Qui sommes-nous ?</h1>
<div class="container tartiflette">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 navquizztext quizzcard">
		
		<div class="col">
			<div class="card reblochon">
				<img src="{{ asset('img/pp/memojicorentin.png')}}" class="card-img-top img-fluid" alt="..."
				style="height: auto; width: 100%; display:block; object-fit:cover;">
				<div class="card-body">
					<h5 class="card-title">Corentin</h5>
					<p class="card-text">Scrum Master</p>
					<p class="card-text">Dis, tu es sûr qu'il n'y a pas de conflit ?</p>
					<p class="card-text">marillier.co@gmail.com</p>
					
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card reblochon">
				<img src="{{ asset('img/pp/memojifanou.png')}}" class="card-img-top img-fluid" alt="..."
				style="height: auto; width: 100%; display:block; object-fit:cover;">
				<div class="card-body">
					<h5 class="card-title">Fanou</h5>
					<p class="card-text">Lead Dev</p>
					<p class="card-text">Je suis ouvert à toute éventualité</p>
					<p class="card-text">stephane@roxsys.net</p>
				
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card reblochon">
				<img src="{{ asset('img/pp/memojirobin.png')}}" class="card-img-top img-fluid" alt="..."
				style="height: auto; width: 100%; display:block; object-fit:cover;">
				<div class="card-body">
					<h5 class="card-title">Robin</h5>
					<p class="card-text">Git Master</p>
					<p class="card-text">Je suis ouvert à toute éventualité</p>
					<p class="card-text">lecullier.robin@gmail.com</p>
				</div>
			</div>
			
		</div>
		<div class="col">
			<div class="card reblochon">
				<img src="{{ asset('img/pp/memojitom.png')}}" class="card-img-top img-fluid" alt="..."
				style="height: auto; width: 100%; display:block; object-fit:cover;">
				<div class="card-body">
					<h5 class="card-title">Tom</h5>
					<p class="card-text">Product Owner</p>
					<p class="card-text">Je suis ouvert à toute éventualité</p>
					<p class="card-text">tom@gouxdimas.com</p>
					
				</div>
			</div>
		</div>
	</div>
</div>

    
{% endblock %}

