<div class="list-group">
	<h4>Joueurs les plus créatifs</h4>
	{% for user in userCreate %}
		<a href="{{ path('user_profil', {id: user[0].id}) }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" style="border:none">
			<img src=" {{ vich_uploader_asset(user[0], 'imageFile') }} " alt=" twbs" width=" 32" height=" 32" class=" rounded-circle flex-shrink-0">
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
					<h6 class="mb-0">{{ user[0].login }}</h6>
					<p class="mb-0 opacity-75">{{ user[0].login }}
						a créé
						{{ user[1] }}
						quizz et
						{{ user[2] }}
						question</p>
				</div>
				<small class="opacity-50 text-nowrap">{{loop.index}}</small>
			</div>
		</a>
	{% endfor %}
</div>
